:root {
    --border: rgb(136, 136, 136);
    --background: rgb(30, 30, 30);
    --cell-background: rgb(34, 34, 34);
    --alive-cell-background: rgb(233, 233, 233);
    --button-background: rgb(40, 40, 40);
    --button-hover-background: rgb(50, 50, 50);
    --slider-background: rgb(40, 40, 40);
    --font-color: rgb(190,190,190)
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    margin: none;
    padding: 0;
    background-color: var(--background);
    color: var(--font-color);
    text-wrap:nowrap;
}

#board {
    height: 80vh;
    width: 95vw;
    margin: 20px auto;
    display: grid;
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

.cells {
    background-color: var(--cell-background);
    border-top: 1px solid var(--border);
    border-left: 1px solid var(--border);
}

.alive {
    background-color: var(--alive-cell-background);
}

.container {
    display: flex;
    justify-content: space-between;
}

.buttons,
.templates {
    display: flex;
    align-items: center;
}

.buttons button,
.templates button,
.templates select {
    background-color: var(--button-background);
    color: var(--font-color);
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
}

.buttons button:hover,
.templates button:hover,
.templates select:hover {
    background-color: var(--button-hover-background);
}

.sliders {
    display:flex;
	flex-direction : column;
	width : fit-content;
    margin-top: 10px;
}

.slider{
	display : flex;
	justify-content : space-between;
    align-items: center;
}

.slider input[type="range"]{
	-webkit-appearance : none;
    width: 160px;
	height :6px;
	border-radius :5px;
	background-color :var(--slider-background);
}

.slider input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance : none;
	width :15px;
	height :15px;
	border-radius :50%;
	background-color :var(--border);
}
